@use "../abstracts/" as *;

.usage {
  display: grid;
  position: relative;
  padding: 2rem get-clamp(1rem, 2rem, 20rem, 25rem) 3.5rem;
  border-radius: 0.625rem;
  width: 100%;

  @include mq($bp-desktop) {
    padding: 2.5rem;
  }

  &__amount-left {
    position: absolute;
    inset: auto 0 0;
    transform: translateY(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.56rem;
    margin-inline: auto;
    padding: 1rem;
    width: 11.1875rem;
    height: 4.5rem;
    background: $clr-white;
    border-radius: 0.625rem;

    @include mq($bp-desktop) {
      inset: 0 2.5rem auto auto;
      transform: translateY(-60%);
      border-bottom-right-radius: 0;

      &::after {
        content: "";
        position: absolute;
        inset: auto 0 0 auto;
        width: 0;
        height: 0;
        border: 0.6rem solid $clr-white;
        border-bottom-color: transparent;
        border-left-color: transparent;
        transform: translateY(95%);
      }
    }
  }

  &__amounts {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem;
  }
}
