@use "../abstracts/" as *;

body {
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 3rem 1.5rem;
  background: $clr-bg-dark url("../assets/images/bg-mobile.png") no-repeat;
  background-size: cover;
}

.container-bg {
  background: $clr-bg-light;
}

.main-container {
  display: grid;
  gap: get-clamp(1rem, 1.88rem, 35rem, 40rem);
  // margin-inline: auto;
  width: 100%;
}
