@use "functions" as *;

// colors

$clr-bg-dark: #0c122c;
$clr-bg-light: #1e2d69;
$clr-text-light: #dbd9ff;
$clr-white: #fff;

// gradients

$grad-yellow-red: #ffa197, #ff4a95;

// shadows

$shadow-main: 0 4.7rem 6.25rem -1.8rem rgba(0, 0, 0, 0.25);

// breakpoints

$bp-desktop: 800px;
