*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Raleway";
  font-weight: 400 700;
  src: url("../assets/fonts/Raleway-VariableFont_wght.ttf");
}
body {
  font: 400 0.875rem "Raleway", sans-serif;
  color: #dbd9ff;
}

:where(h1, h2, h3, h4, h5, h6, .bold) {
  font-weight: 700;
}

.large {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.text-opacity {
  opacity: 0.7;
}

@media (max-width: 49.99em) {
  .usage__summary {
    text-align: center;
  }
}
.usage__amounts {
  font-size: 0.75rem;
  font-weight: 700;
}
.usage__amount-left {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  color: #0c122c;
  text-transform: uppercase;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1.5rem;
  background: #0c122c url("../assets/images/bg-mobile.png") no-repeat;
  background-size: cover;
}
@media (min-width: 50em) {
  body {
    background-image: url("../assets/images/bg-desktop.png");
    background-position: bottom;
    background-size: cover;
  }
}

.container-bg {
  background: #1e2d69;
}

.main-container {
  display: grid;
  gap: 1rem;
  margin-inline: auto;
  width: min(100%, 21.875rem);
}
@media (min-width: 50em) {
  .main-container {
    align-items: flex-end;
    grid-template-columns: 21.875rem 1fr;
    gap: 1.88rem;
    width: min(100%, 57.5rem);
  }
}

.btn {
  height: 3rem;
  aspect-ratio: 1/1;
  background-color: #0c122c;
  border-radius: 0.625rem;
}

.controls {
  padding: 2.5rem;
  width: min(100%, 21.875rem);
  border-radius: 0.625rem;
  border-top-right-radius: 6.25rem;
}
.controls__button-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.usage {
  display: grid;
  position: relative;
  padding: 2rem clamp(
    1rem,
    20vw + -3rem,
    2rem
  ) 3.5rem;
  border-radius: 0.625rem;
  width: 100%;
}
@media (min-width: 50em) {
  .usage {
    padding: 2.5rem;
  }
}
.usage__amount-left {
  position: absolute;
  inset: auto 0 0;
  transform: translateY(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.56rem;
  margin-inline: auto;
  padding: 1rem;
  width: 11.1875rem;
  height: 4.5rem;
  background: #fff;
  border-radius: 0.625rem;
}
@media (min-width: 50em) {
  .usage__amount-left {
    inset: 0 2.5rem auto auto;
    transform: translateY(-60%);
    border-bottom-right-radius: 0;
  }
  .usage__amount-left::after {
    content: "";
    position: absolute;
    inset: auto 0 0 auto;
    width: 0;
    height: 0;
    border: 0.6rem solid #fff;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: translateY(95%);
  }
}
.usage__amounts {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
}

.bar {
  position: relative;
  margin-top: 1rem;
  padding: 0.1875rem;
  width: 100%;
  height: 1.25rem;
  background: rgba(12, 18, 44, 0.5);
  border-radius: 0.625rem;
}
.bar__progress {
  display: flex;
  justify-content: flex-end;
  padding: 0.125rem;
  width: calc(81.5%);
  height: 100%;
  background: linear-gradient(90deg, #ffa197, #ff4a95);
  border-radius: 0.625rem;
}
.bar__white-dot {
  height: 100%;
  aspect-ratio: 1/1;
  background: #fff;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */